body {
  background-color: #F3F3F3;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
  margin-bottom: 5px;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 120%;
}

p {
  margin: 15px 0;
}

.clear {
  clear:both;
}

#main {
  margin: 10px auto;
  border: 1px solid #CCC;
  padding: 20px;
  width: 960px;
  background-color: #FFF;
  overflow:hidden;
}

#main_search {
  width: 680px;
  margin: 50px auto;
}

#main_search input[type="text"] {
  font-size: 38px;
  padding: 7px;
  width: 640px;
}

#main_search input[type="submit"] {
  display: none;
}

#sub_search {
  margin-bottom: 10px;
}

#sub_search input[type="text"] {
  width: 200px;
}

.image {
  float:left;
  width: 120px;
  height: 60px;
}

.image a {
  font-size: 75%;
}

span.tags {
  display: block;
  margin:5px;
}