<h1>Image Metadata Search</h1>


<div id="main_search"><%= render "search" %></div>

<span class="untagged"><%= @untagged_images.size %></span> images with no tags. Help adding tags to the images <a href="<%= images_path %>">here</a>