<%= render "search" %>

<% if @images.nil? %>
  no search
<% elsif @images.empty? %>
  no itens found
<% else %>
<ul>
  <% @images.each do |image| %>
    <li>
      <img src="<%=h image.image %>" />
      <span class="tag"><%=h image.tags %></span>
    </li>
  <% end %>
</ul>
<% end %>