<%= render "search" %>

<% if @images.nil? %>
  no search
<% elsif @images.empty? %>
  no itens found
<% else %>
  <ul>
    <li><img src="/images/little_dog.png"/><span class="tag"><%= "dog" %></span></li>
  </ul>
<% end %>