<div id="sub_search">
  <%= render "search" %>
</div>

<% if @images.nil? %>
  no search
<% elsif @images.empty? %>
  no itens found
<% else %>
  <%= render :partial => "images/image", :collection => @images %>
<% end %>