<h1>Editing image</h1>

<% form_for @image do |f| %>

<span>Image: <%= @image.image %></span>

<img src="/images/icones/<%= @image.image %>"/>

<%= f.text_field :tag_names %>

<%= f.submit %>

<% end %>