<!DOCTYPE html>
<html>
  <head>
    <title>Image metadata</title>
    <%= stylesheet_link_tag "reset", "application", :cache => true %>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>