<!DOCTYPE html>
<html>
  <head>
    <title>Image metadata</title>
    <%= stylesheet_link_tag "reset", "application", :cache => true %>
  </head>
  <body>
    <div id="main">
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
  <%= javascript_include_tag "jquery.jeditable.min.js", "application" %>
</html>